html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#mcmap {
	width: 100%;
	height: 100%;
}

.control-wrapper {
	cursor: pointer;
}

.control-wrapper-panel {
	background-color: white;
}

.control-wrapper-panel .panel-heading,
.control-wrapper-panel .panel-body,
.control-wrapper-panel .panel-footer {
	padding: 7px 10px;
}

.control-wrapper-invisible {
	margin: 5px;
	padding: 4px;
}

.dropdown-menu {
	cursor: pointer;
}

#control-wrapper-marker .list-group-item .right-padding {
	/* because of the floating badge */
	padding-right: 30px;
}

/*
#control-wrapper-marker .btn {
	width: 100%;
}
#control-wrapper-marker input, #control-wrapper-marker label {
	margin:0;
}
#control-wrapper-marker label {
	padding-left: 5px;
}

#control-wrapper-marker div div {
	padding-bottom: 5px;
}
*/

#control-wrapper-map-select {
	z-index: initial !important;
}

#control-wrapper-rotation-select img {
	width: 30px;
	margin: 3px;
}
