<!DOCTYPE html>
<html>
	<head>
		<title>Minecraft Map</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" href="leaflet.css" />
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="leaflet.ie.css" />
		<![endif]-->
		<script src="leaflet.js"></script>
		<script type="text/javascript" src="map.js"></script>
		<script type="text/javascript">
		var CONFIG = {
{worlds}
		};
		</script>
		<script type="text/javascript" src="markers.js"></script>
		<script type="text/javascript">
		var Mapcrafter = new MapcrafterUI(CONFIG);

		function init() {
			Mapcrafter.init();
			
			Mapcrafter.addControl(new MapSelectControl(), "topright", 1);
			Mapcrafter.addControl(new RotationSelectControl(), "topright", 2);
			Mapcrafter.addControl(new MousePosControl(), "bottomleft", 1);
			Mapcrafter.addControl(new MapMarkerControl(), "topleft", 2);
			
			Mapcrafter.addHandler(new MapMarkerHandler(MARKERS));
		}
		</script>
	</head>
	<body onload="init()">
		<div id="mcmap"></div>
	</body>
</html>
