html {
	width: 100%;
	height: 100%
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

#mcmap {
	width: 100%;
	height: 100%
}